{% load static %}

<style>
    .nav{
        position: fixed;
        width: 100%;
        left: 0;
        top: 0;
        z-index: 100;
        border-top: 0;
    }
</style>

<nav class="navbar navbar-expand-lg navbar-light bg-light nav ">
    <div class="container-fluid d-flex justify-content-between">
      <img class="m-2" src="{% static 'images/ser_logo.jpg' %}" alt="" width="50">

      <div style=" margin-left: 35%;">
          <h4 class-"m-2"><i>SpeechGuild</i></h4>
      </div>

      <div class="collapse navbar-collapse" id="myNavbar">
        <ul class="navbar-nav ms-auto flex-nowrap">
            <li class="nav-item">
                <a href="{% url 'audio' %}" class="nav-link m-2 menu-item">Record</a>
            </li>
            <li class="nav-item">
                <a href="{% url 'voice-box' %}" class="nav-link m-2 menu-item">Voice Box</a>
            </li>
            <li class="nav-item">
                {% if is_logged_in %}
                <a href="{% url 'login' %}" type="button" class="m-2 btn btn-outline-dark">Logout</a>
                {% else %}
                <a href="{% url 'logout' %}" type="button" class="m-2 btn btn-outline-dark">Login</a>
                {% endif %}
            </li>
        </ul>
    </div>
    </div>
</nav>